@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:900');

* {
    box-sizing: border-box;
}
.box {
    color:white;
    font-size: 16px;
    /* font-family: 'Montserrat Alternates', sans-serif; */
    text-align: center;
    padding:15px;
    flex: 1;


  
}
  
  .box1 { background:#1900ff; flex: 3;}
  .box2 { background:#1900ff;}
  .box3 { background:#1900ff;}
  .box4 { background:#1900ff;}
  .box5 { background:#1900ff;}


.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}